/* General styles for the team box */
.team-box {
    flex: 1 1 calc(33.33% - 20px); /* Default: 3 boxes per row with margin */
    max-width: 300px; /* Keeps the width consistent */
  }
  
  /* Adjust for smaller screens */
  @media (max-width: 768px) {
    .team-box {
      flex: 1 1 calc(50% - 20px); /* 2 boxes per row */
      max-width: calc(50% - 20px); /* Adjust width */
    }
  }
  
  /* General button styles */
.player-button {
    margin: 0px 25px 10px 10px;
    padding: 10px 25px,
  }
  
  /* Adjust styles for the container and buttons on smaller screens */
  @media (max-width: 768px) {
    .button-container {
      flex-direction: column; /* Stack buttons in a column */
    }
  
    .player-button {
      padding: 8px 12px;
      font-size: 0.8em;
      margin: 15px;
      width: auto;
    }
  }
  