.content {
    text-align: center;
    
}

/* Styles for the panel-header */
.panel-header-lg {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Title and subtitle */
  .title {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
  }
  
  .subtitle {
    font-size: 3rem;
    font-weight: 500;
    color: #555;
    margin-top: 10px;
  }
  
  /* Description section */
  .auction-description {
    margin: 20px auto;
    padding: 10px;
    max-width: 75%;
    color: #444;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  /* Button styles */
  .button-container {
    margin-top: 20px;
  }
  
  .enter-auction-button {
    background-color: #007bff; /* Primary blue */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enter-auction-button:hover {
    background-color: #0056b3; /* Darker blue */
  }
  